* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

/* --------------------GLOBAL STYLES-------------------- */
root {
  --bg: #e0d3c4;
  --font: #3a2300;
  /* --highlight-red: #e74c3c; */
}

/* --------------------BACKGROUND IMAGE-------------------- */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url('./me.jpeg') center/cover no-repeat;
    opacity: 0.23;
    z-index: -1;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    background: #f4f4f4;
}

/* --------------------HERO-------------------- */
.hero {
    background: #e0d3c4;
    color: #3a2300;
    text-align: center;
    padding: 4rem 1rem;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}

/* --------------------NAV-------------------- */
nav {
    background: #4c3513;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav .container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #e0d3c4;
    font-weight: 600;
}
nav a:hover {
    color: #a72f0b;
    transition: 0.3s ease-in-out;
}

/*-------------------- CONTAINER --------------------*/
.container {
    max-width: 1100px;
    margin: auto;
    padding: 2rem;
}

/* --------------------SECTIONS-------------------- */
section {
    margin-bottom: 3rem;
}

section h2 {
    margin-bottom: 1rem;
    color: #3a2300;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}


.project-card {
    background: #e0d3c4;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 15px 19px 0px 0px rgba(0, 0, 0, 0.1);
}

.project-card a {
    color: #3a2300;
    font-weight: bold;
    text-decoration: none;
}

/* --------------------TABLE-------------------- */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: center;
}

th {
    background: #e0d3c4;
    color: #3a2300;
}

/* --------------------FORM-------------------- */
form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

input, select, textarea {
    padding: 0.6rem;
    border: 1.5px solid #3a2300;
    border-radius: 4px;
    background: none;
}

button {
    background: #e0d3c4;
    color: #3a2300;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #3a2300;
    color: #e0d3c4;
    transition: 0.2s ease-in;
}

/* --------------------FOOTER-------------------- */
footer {
    background: #e0d3c4;
    color: 3a2300;
    text-align: center;
    padding: 1rem;
}
